<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>User Home</title>
		{% include 'header.html' %}
		{% include 'footer.html' %}
		{% include 'user_home_navbar.html' %}
		<style>
			body{
				background-image:url('static/source/image/Digital-book.jpg')
			}
		</style>
	</head>
	<body>
		
		<div style="margin-top:60px">
			<div style="margin-left:100px">
			<font face="times new roman" size="5"><p>1) Access with your library card code</p></font>
			<br />
			<font face="times new roman" size="5"><p>2) Early in the semester, you may be able to register for 14-day free access</p></font>
			<br />
			<font face="times new roman" size="5"><p>3) Stay safe in your place and order your books online</p></font>
			<div>
		</div>
	</body>
</html>

